.link {
  color: #c5212d;
}
.link:hover {
  color: #9c1720;
}

main {
  min-height: 80vh;
}

h1 {
  font-family: "Poppins";
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-family: "Poppins";
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  font-family: "Poppins";
}

h4 {
  font-family: "Poppins";
}

h5 {
  font-family: "Poppins";
}

h6 {
  font-family: "Poppins";
}

.rating span {
  margin: 0.1rem;
}

#lb {
  white-space: pre-line;
  line-height: 2px;
}

#honey {
  color: #c5212d;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

#dropdown-danger {
  color: #da6254;
}

#footer-p {
  color: #f2bfa0;
}

#about-text {
  font-size: larger;
  font-weight: 200;
}

p {
  font-family: "Poppins";
  text-align: justify;
}

li {
  font-family: "Poppins";
  text-align: justify;
}

i {
  font-family: "Poppins";
}

.hex {
  position: relative;
  margin: 1em auto;
  width: 6em;
  height: 10.2em;
  border-radius: 1em/0.5em;
  background: #c5212d;
  transform: rotate(-90deg);
  display: inline-block;
  margin-right: 4.61538em;
  transition: all 150ms ease-in-out;
}
.circle {
  font-size: 5rem;
  width: 5rem;

  background-color: #c5212d;
  padding: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.circle {
  transform: scale(0.5);
}

#navDropdown {
  color: #da6254;
  font-family: "Poppins";
}

#dropdownItem {
  color: #622128;
  font-family: "Poppins";
}
